.popup-order{
	background:$white;
	width:473px;
	height:100%;	
	top: 0;
    right: -474px;
    z-index: 99999999;
    position: absolute;	

	&__title-container{
		position:relative;
		height: 225px;
		background:$orangeMain;

			&:before{
			content:'';
			height: 35px;
			width: 25px;
			background:url(../images/popup-order-arrow.png)0 0 no-repeat;
			position: absolute;
			top:100px;
			left: 60px;
		}
	}

	&__title{
		padding-left: 158px;
		line-height: 225px;
		font-size: 57px;
		font-family: $fontBebas;

	}

	&__subtitle{
		font-family:$fontGilroyLight;
		color:$fontPopupgrey;
		font-size: 30px;
		margin-top: 34px;
    	margin-left: 57px;
		font-weight: 300; 
	}

	&__price{
		margin-left: 57px;
		font-family:$fontGilroyLight;
		color:#2f2f2f;
	    font-size: 48px;
	    font-weight: 300;
	}

	&__button-container{		
		color:$white;	
		width: 299px;
		height: 62px;
		margin-top: 50px;
	    margin-left: 84px;
		position:relative;
	    margin-bottom: 22px;

		&:before{
			content: '';
			top:-20px;
			left:-20px;
			position:absolute;
			height:1px;
			width: 250px;
			border-bottom: 1px solid;
			background-color: $linePopupgrey;
		}

	}
}

.active-position{
	-webkit-transition: all  linear;
  	transition: all linear;
   	transition-duration: 5s;	
    right: 0;  
}
.active{
	-webkit-transition: all  linear;
  	transition: all linear;
   	transition-duration: 2s;	
    right: -474px;
}