@import url(vendor/easydropdown.css);
@import url(vendor/bootstrap.css);
@import url(vendor/bootstrap-theme.css);
* {
  margin: 0;
  padding: 0; }

body {
  color: white;
  text-transform: uppercase;
  position: relative; }

.container {
  width: 1140px; }

h1 {
  font-size: 45px; }

h2 {
  font-size: 36px;
  margin: 0;
  padding: 0; }

h3 {
  font-size: 24px; }

a:hover,
a:focus,
a:visited,
a:link {
  text-decoration: none; }

button:focus,
button:active,
button:hover {
  outline: 0; }

select:focus,
select:active,
select:hover {
  outline: 0;
  border: transparent;
  background: transparent; }

.title-page {
  color: white;
  font-size: 48px;
  text-align: center;
  font-family: "Evogria";
  margin-top: 163px;
  margin-bottom: 77px; }

.product-card__button {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 3px solid white;
  border-radius: 22px; }
  .product-card__button:after {
    background: url(../images/buy_icon.png) 0 0 no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: 50%;
    margin-left: -20px;
    content: '';
    width: 39px;
    height: 30px; }
  .product-card__button:hover {
    -webkit-transition: all  linear;
    transition: all linear;
    transition-duration: 2s;
    background: #fff445;
    border: 3px solid #fff445; }
  .product-card__button:hover:after {
    background: url(../images/buy-hover.png) 0 0 no-repeat;
    -webkit-transition: all  linear;
    transition: all linear;
    transition-duration: 2s; }

.popup-order__button {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: #faa21b;
  border: none;
  font-size: 18px;
  font-family: "GilroyBold", sans-serif;
  font-weight: bold;
  line-height: 62px; }

.doska {
  position: relative;
  height: auto; }

.doska:after {
  background: url(../images/doska.png) 0 0 no-repeat;
  width: 100%;
  height: 22px;
  position: absolute;
  top: 341px;
  left: 15px;
  content: ''; }

::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 5px;
  height: 0px; }

::-webkit-scrollbar-track {
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: #923f5c; }

::-webkit-scrollbar-thumb:hover {
  background-color: #923f5c; }

::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 2px;
  height: 0px; }

::-webkit-scrollbar {
  width: 4px; }

.background-mainpage {
  background: url(../images/main-background.png) 0 0 no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding-bottom: 150px; }

.background-transparent {
  width: 100%;
  height: 100%;
  z-index: -5;
  background: red;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0; }

.active-transparent {
  z-index: 5;
  background: black;
  -webkit-transition: all  linear;
  transition: all linear;
  transition-duration: 10s;
  opacity: 0.7; }

.product-card {
  height: 613px;
  width: 237px;
  text-align: center;
  background: rgba(204, 88, 127, 0.5); }
  .product-card__title {
    font-family: "Bebas Neue";
    margin-bottom: 19px; }
  .product-card__image-container {
    width: 180px;
    height: 300px;
    margin: auto;
    overflow: hidden; }
  .product-card__description {
    margin: 40px 0 5px 0;
    font-family: "Bebas Neue"; }
  .product-card__prise {
    margin: auto;
    overflow: hidden;
    font-family: "Bebas Neue";
    position: relative;
    margin-bottom: 17px; }
  .product-card__actual-prise {
    font-size: 57px;
    margin: 0; }
  .product-card__old-prise {
    font-size: 24px;
    position: relative;
    top: -25px;
    text-decoration: line-through; }
  .product-card__dropdown {
    width: 100px;
    height: 150px;
    overflow: hidden;
    margin-left: 34px; }
  .product-card__button-container {
    width: 68px;
    height: 51px;
    position: relative;
    margin-left: 38px;
    top: -155px;
    left: 97px; }

.dropdown {
  background: transparent;
  border: none;
  font-size: 24px;
  width: 70px;
  height: 50px; }

.popup-order {
  background: white;
  width: 473px;
  height: 100%;
  top: 0;
  right: -474px;
  z-index: 99999999;
  position: absolute; }
  .popup-order__title-container {
    position: relative;
    height: 225px;
    background: #ff943d; }
    .popup-order__title-container:before {
      content: '';
      height: 35px;
      width: 25px;
      background: url(../images/popup-order-arrow.png) 0 0 no-repeat;
      position: absolute;
      top: 100px;
      left: 60px; }
  .popup-order__title {
    padding-left: 158px;
    line-height: 225px;
    font-size: 57px;
    font-family: "Bebas Neue"; }
  .popup-order__subtitle {
    font-family: "GilroyLight", sans-serif;
    color: #2f2e2e;
    font-size: 30px;
    margin-top: 34px;
    margin-left: 57px;
    font-weight: 300; }
  .popup-order__price {
    margin-left: 57px;
    font-family: "GilroyLight", sans-serif;
    color: #2f2f2f;
    font-size: 48px;
    font-weight: 300; }
  .popup-order__button-container {
    color: white;
    width: 299px;
    height: 62px;
    margin-top: 50px;
    margin-left: 84px;
    position: relative;
    margin-bottom: 22px; }
    .popup-order__button-container:before {
      content: '';
      top: -20px;
      left: -20px;
      position: absolute;
      height: 1px;
      width: 250px;
      border-bottom: 1px solid;
      background-color: rgba(0, 0, 0, 0.15); }

.active-position {
  -webkit-transition: all  linear;
  transition: all linear;
  transition-duration: 5s;
  right: 0; }

.active {
  -webkit-transition: all  linear;
  transition: all linear;
  transition-duration: 2s;
  right: -474px; }

.popup-card {
  height: 190px;
  width: 352px;
  margin: auto;
  display: table;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  margin-bottom: 2px; }
  .popup-card__image-container {
    width: 100px;
    height: 190px;
    display: table-cell;
    vertical-align: middle; }
  .popup-card__description {
    display: table-cell;
    color: #2f2e2e;
    vertical-align: top; }
  .popup-card__title {
    font-family: "GilroyLight", sans-serif;
    font-size: 19px;
    height: 62px;
    overflow: hidden;
    margin-bottom: 15px;
    text-align: left;
    margin-top: 32px;
    line-height: 22px; }
  .popup-card__subtitle {
    font-size: 24px;
    font-family: "GilroyLight", sans-serif;
    text-align: left; }
  .popup-card__price {
    font-size: 24px;
    font-family: "GilroyBold", sans-serif;
    font-weight: 700;
    text-align: left; }

@font-face {
  font-family: 'Bebas Neue';
  src: url("../font/BebasNeue Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Evogria';
  src: url("../font/Evogria.otf") format("otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GilroyBold';
  src: url("../font/Gilroy-ExtraBold.otf") format("otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GilroyLight';
  src: url("../font/Gilroy-Light.otf") format("otf");
  font-weight: normal;
  font-style: normal; }

/*# sourceMappingURL=style.css.map */
