.background-mainpage{
	background:url(../images/main-background.png) 0 0 no-repeat;
	background-size:cover;
	width:100%;
	height: 100%;
	padding-bottom: 150px;
}

.background-transparent{
	width:100%;
	height: 100%;
	z-index:-5;
	background:red;
	position:absolute;
	opacity:0;
	top:0;
	left:0;
}

.active-transparent{	
	z-index:5;
	background:black;	
	-webkit-transition: all  linear;
   transition: all linear;
   transition-duration: 10s;
   opacity:0.7;  
}
