::-webkit-scrollbar-button
{
background-image:url('');
background-repeat:no-repeat;
width:5px;
height:0px
}

::-webkit-scrollbar-track
{
background-color:transparent;
}

::-webkit-scrollbar-thumb
{
-webkit-border-radius: 0px;
border-radius: 0px;
background-color:#923f5c;
}

::-webkit-scrollbar-thumb:hover
{
background-color:#923f5c;
}

::-webkit-resizer
{
background-image:url('');
background-repeat:no-repeat;
width:2px;
height:0px
}

::-webkit-scrollbar
{
width: 4px;
}



