//font
$fontBebas:'Bebas Neue';
$fontEvogria:'Evogria';
$fontGilroyBold:'GilroyBold',sans-serif;
$fontGilroyLight:'GilroyLight',sans-serif;

// color
$white:white;
$orangeMain:#ff943d;//popup-order background
$fontPopupgrey:rgb(47, 46, 46);
$linePopupgrey:rgba(0, 0, 0, 0.15);
$orangeButton:#faa21b;//popup-order button
$yellowButtonHover:rgb(255, 244, 69);
